.main-view-styles {
  background-color: #000001;
  align-items: center;
}

.navbar-styles {
  height: 220px;
  background-color: green;
  margin: 10;
  padding: 10;
  width: 100%;
  border-bottom: 2px solid white;
}
