.main-view-styles {
  background-color: #0b0b0e0e;
  align-items: center;
}

.navbar-styles {
  height: 100px;
  background-color: black;
  margin: 10;
  padding: 10;
  width: 100%;
  border-bottom: 0.5px inset grey;
  text-shadow: 0.5px 0.5px var(--white);
}
